{% extends 'base.html.twig' %}

{% block body %}
	<body>

		<!-- Preload the Whole Page -->
		<div id="preloader">
			<div id="loading-animation">&nbsp;</div>
		</div>

		<div id="wrapper">
			<!-- Hero BUSCAR================================================== -->
			<section>
				<div id="hero-section-BUSCAR" class="landing-hero" data-stellar-background-ratio="0">
					<div class="hero-content">
						<div class="container">
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">

									<div class="hero-text">
										<div class="herolider">
											<ul class="caption-slides">

												<li class="caption">
													<h1>Excurciones de un dia</h1>
													<div class="div-line"></div>
													<p class="hero">Por la sierra de Madrid</p>
												</li>

												<li class="caption">
													<h1>Excurciones de fin de semana</h1>
													<div class="div-line"></div>
													<p class="hero">Por alguna de las comunidades</p>
												</li>

												<li class="caption">
													<h1>Aventuras mas largas</h1>
													<div class="div-line"></div>
													<p class="hero">De 7 a 14 dias</p>
												</li>

											</ul>
										</div>
										<!-- end herolider -->
									</div>
									<!-- end hero-text -->

									<div class="hero-btn">
										<a href="#screenshots-section-EVENTOS-DISPONIBLES" class="btn btn-clean">Buscar</a>
									</div>
									<!-- end hero-btn -->

								</div>
								<!-- end col-md-6 -->
							</div>
							<!-- end row -->
						</div>
						<!-- End container -->
					</div>
					<!-- End hero-content -->
				</div>
				<!-- End hero-section-BUSCAR -->
			</section>
			<!-- End hero section -->
			<!-- ========================= EVENTOS DISPONIBLES ================================================== -->
				<section>
					<div id="screenshots-section-EVENTOS-DISPONIBLES" class="pad-sec"> <div class="container">
						<div class="title-section text-center animated out" data-animation="fadeInUp" data-delay="0">
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<h2>Eventos disponibles</h2>
									<hr/>
									<p>Elige el evento que te apetece</p>
								</div>
							</div>
							<!-- End row -->
						</div>
						<!-- end title-section -->

						<div class="row">
							<div class="col-md-12">
								<div class="screenshots-carousel animated out" data-animation="fadeInUp" data-delay="0">
									{% for evento_eve in evento_eves %}
										<div class="shot">
											<div class="screen">
												<form method="post" action="{{ path('getEveAndActs') }}">
													<h4>{{ evento_eve.tituloEve }}</h4>
													<hr/>
													<h5>Nivel
														{{ evento_eve.nivelEve }}</h5>
													<h5>
														{{ evento_eve.fechaidaEve ? evento_eve.fechaidaEve|date('d-m-y') : '' }}
														-
														{{ evento_eve.fechavueltaEve ? evento_eve.fechavueltaEve|date('d-m-y') : '' }}
													</h5>
													<button type="submit" name="idEve" value="{{ evento_eve.idEve }}"><img src="/images/{{ evento_eve.fotoEve }}" alt="screenshot"/></button>
												</form>
											</div>
											<!-- end screen -->
										</div>
										<!-- end shot -->
									{% else %}
										<tr>
											<td colspan="17">no records found</td>
										</tr>
									{% endfor %}
								</div>
								<!-- end screenshots-carousel -->
							</div>
							<!-- end col-md-12 -->
						</div>
						<!-- end row -->
					</div>
					<!-- End screenshots-section-EVENTOS-DISPONIBLES -->
				</section>


				{% if evento_eve is defined %}
					<!-- Team -->
					<!-- ========================= EVENTO ================================================== -->
						<section>
							<div id="team-section-EVENTO" class="pad-sec"> <div class="container">
								<div class="title-section animated out" data-animation="fadeInUp" data-delay="0">
									<div class="row">
										<div class="col-sm-8 col-sm-offset-2">
											<h2>{{ evento_eve.tituloEve }}</h2>
											<hr/>

											<h4>Nivel
												{{ evento_eve.nivelEve }}</h4>
											<h4>
												{{ evento_eve.fechaidaEve ? evento_eve.fechaidaEve|date('d-m-y') : '' }}
												-
												{{ evento_eve.fechavueltaEve ? evento_eve.fechavueltaEve|date('d-m-y') : '' }}
											</h4>
											<a href="#team-section-EVENTO"><img src="/images/{{ evento_eve.fotoEve }}" alt="screenshot"/></a>
										</div>
									</div>
									<!-- End row -->
								</div>
								<!-- end title-section -->

								<div class="title-section text-center animated out" data-animation="fadeInUp" data-delay="0">
									<div class="row">
										<div class="col-sm-8 col-sm-offset-2">
											<h2>{{persona_size}}
												Personas inscritas al evento</h2>
											<hr/>
											<p>Datos personales de los inscritos estan disponible solo para el Administrador.</p>
										</div>
									</div>
									<!-- End row -->
								</div>
								<!-- end title-section -->

								<!-- ========================= INSCRITOS - PERSONNAS ================================================== -->
								<div class="row">
									<div class="col-md-12">
										<div class="screenshots-carousel animated out" data-animation="fadeInUp" data-delay="0">
											{% for persona_per in persona_pers %}
												<div class="shot">
													<div class="screen">
														<h4>{{ persona_per.nombrePer }}
															{{ persona_per.apellido1Per }}</h4>
														<hr/>
														<h5>Tipo
															{{ persona_per.usuariotipoPer }}</h5>
														<h5>Tel
															{{ persona_per.movilPer }}</h5>
														<h5>DNI
															{{ persona_per.dniPer }}</h5>
														<h5>Email
															{{ persona_per.emailPer }}</h5>
														<a href="#"><img src="/images/{{ persona_per.fotopropiaPer }}" alt="screenshot"/></a>
													</div>
													<!-- end screen -->
												</div>
												<!-- end shot -->
											{% else %}
												<tr>
													<td colspan="17">no records found</td>
												</tr>
											{% endfor %}
										</div>
										<!-- end screenshots-carousel -->
									</div>
									<!-- end col-md-12 -->
								</div>
								<!-- end row -->


								<!-- About Team EVENTO INFO ================================================== -->
								<section>
									<div id="about-team-EVENTO-INFO">
										<div class="container">
											<div class="row">
												<div class="col-md-6 col-sm-6 col-xs-12">
													<div class="title-section">
														<h3>Descripcion completa sobre el evento</h3>
													</div>
													<p>Sit ad etiam dissentias, viderer intellegebat usu et, per aliquam delectus ut. In inermis suavitate tincidunt quo, habeo lorem quis nulla eget, dictum pretium magna. Praesent id metus mattis tellus consectetur posuere. Aenean vel enim ut massa luctus efficitur a nec magna.</p>
												</div>
												<!-- end col-md-6 -->

												<div class="col-md-6 col-sm-6 col-xs-12">
													<div
														class="progress-bars">
														<!-- skillbar -->
														<div
															class="p-bar">
															<!-- meta -->
															<div class="progress-meta">
																<h6 class="progress-title">Complejidad</h6>
																<h6 class="progress-value">75%</h6>
															</div>

															<div class="progress">
																<div class="progress-bar" aria-valuenow="75" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</div>
														<!-- end p-bar -->

														<!-- skillbar -->
														<div
															class="p-bar">
															<!-- meta -->
															<div class="progress-meta">
																<h6 class="progress-title">Altitud</h6>
																<h6 class="progress-value">95%</h6>
															</div>

															<div class="progress">
																<div class="progress-bar" aria-valuenow="95" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</div>
														<!-- end p-bar -->

														<!-- skillbar -->
														<div
															class="p-bar">
															<!-- meta -->
															<div class="progress-meta">
																<h6 class="progress-title">Desnivel</h6>
																<h6 class="progress-value">85%</h6>
															</div>

															<div class="progress">
																<div class="progress-bar" aria-valuenow="85" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</div>
														<!-- end p-bar -->

														<!-- skillbar -->
														<div
															class="p-bar">
															<!-- meta -->
															<div class="progress-meta">
																<h6 class="progress-title">Humedad</h6>
																<h6 class="progress-value">73%</h6>
															</div>

															<div class="progress">
																<div class="progress-bar" aria-valuenow="73" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</div>
														<!-- end p-bar -->
													</div>
													<!-- end skills-bars -->
												</div>
												<!-- end col-md-6 -->
											</div>
											<!-- end row -->
										</div>
									</div>
								</section>
								<!-- End About Team -->

								<div class="title-section animated out" data-animation="fadeInUp" data-delay="0">
									<div class="row">
										<div class="col-sm-8 col-sm-offset-2">
											<h2>Este evento contiene
												{{ actividad_size }}
												actividades</h2>
										</div>
									</div>
								</div>
								<div class="team-members">
									<div class="row">
										{% for actividad_act in actividad_acts %}
											<!-- member-team -->
											<div class="col-sm-3">
												<div class="member-team animated out" data-animation="fadeInLeft" data-delay="0">
													<img src="/images/{{ actividad_act.fotoAct }}" alt=""/>
													<div class="magnifier">
														<div class="magnifier-inner">
															<h3>{{ actividad_act.nombreAct }}</h3>
															<h6>Tipo
																{{ actividad_act.actividadtipoAct }}</h6>
															<h6>Nivel
																{{ actividad_act.nivelAct }}</h6>
															<h6>Desnivel
																{{ actividad_act.desnivelAct }}m</h6>
															<h6>Disctancia
																{{ actividad_act.distanciaAct }}km</h6>
															<h6>Horas
																{{ actividad_act.horasAct }}h</h6>
															<h6>Salida
																{{ actividad_act.salidaAct }}</h6>
															<h6>Llegada
																{{ actividad_act.llegadaAct }}</h6>
															<a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Wikiloc" href="{{ actividad_act.wikilocAct }}" target="_blank" rel="noopener noreferrer" data-original-title="" title="Wikiloc">Wikiloc</a>
															<ul class="social-icons">
																<li>
																	<a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Facebook" href="#" data-original-title="" title="">
																		<i class="fa fa-facebook"></i>
																	</a>
																</li>

																<li>
																	<a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Twitter" href="#" data-original-title="" title="">
																		<i class="fa fa-twitter"></i>
																	</a>
																</li>

																<li>
																	<a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Google Plus" href="#" data-original-title="" title="">
																		<i class="fa fa-google-plus"></i>
																	</a>
																</li>

																<li>
																	<a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Skype" href="#" data-original-title="" title="">
																		<i class="fa fa-skype"></i>
																	</a>
																</li>
															</ul>
														</div>
														<!-- End magnifier-inner -->
													</div>
													<!-- End magnifier -->
												</div>
												<!-- End member-team -->
											</div>
											<!-- End col-sm-4 -->
										{% else %}
											<tr>
												<td colspan="17">no records found</td>
											</tr>
										{% endfor %}
									</div>
								</div>
								<!-- End team-members -->
							</div>
							<!-- End container -->
						</div>
						<!-- End team-section-EVENTO -->
					</section>
					<!-- End team section -->

				{% endif %}
			</div>

			<!-- contact-section -- INICIAR SESION
																		    ================================================== -->
			<section>
				<div id="contact-section-INICIAR-SESION" class="pad-sec">
					<div class="container">

						<div class="title-section text-center animated out" data-animation="fadeInUp" data-delay="0">
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<h2>Inicio de sesion</h2>
									<hr>
									<p>Para inscribirse a un evento inicie la sesion por favor</p>
								</div>
							</div>
							<!-- End row -->
						</div>
						<!-- end title-section -->

						<div class="form-wrapper">
							<div class="row">
								<divclass="col-md-8 col-md-offset-2">

									<!-- form fields -->
									<form action="assets/php/contact.php.htm" method="post" name="contactform" id="contactform" class="animated out" data-animation="fadeInUp" data-delay="0">

										<fieldset>
											<div class="form-group">
												<input class="form-control br-b" type="text" name="name" id="name" placeholder="Name">
											</div>

											<div class="form-group">
												<input class="form-control br-b" type="email" name="email" id="email" placeholder="Email">
											</div>

											<div class="form-group">
												<textarea class="form-control br-b" name="message" id="message" placeholder="Message..."></textarea>
											</div>
										</fieldset>

										<!-- submit button -->
										<div class="form-group">
											<input type="submit" name="submit" value="Send message" id="submit" class="btn btn-sm btn-dark">
										</div>

										<div id="alert"></div>

									</form>
								</div>
							</div>
							<!-- end col-md-8 -->
						</div>
						<!-- end row -->
					</div>
					<!-- end form-wrapper -->
					<!-- end container -->

				</div>
				<!-- End contact-section-INICIAR-SESION -->
			</section>


	<!-- Banner-Services
																					    ================================================== -->
			<section>
				<div id="banner-services" data-stellar-background-ratio="0">
					<div class="container">
						<div class="row">

							<div class="col-sm-6">
								<div class="banner-content animated out" data-animation="fadeInUp" data-delay="0">
									<h3 class="banner-heading">Quieres conocernos mejor?</h3>
									<div class="banner-decription">
										Acsede a nuestra pagina Web. Ahi podrás encontrar mas informacion.
									</div>
									<!-- end banner-decription -->
									<div>
										<a href="https://appvisibility.eboe62.com/"  target="_blank" class="btn btn-sm btn-clean">Nuestra Web</a>
									</div>
								</div>
								<!-- end banner-content -->
							</div>
							<!-- end col-sm-6 -->

							<div class="col-sm-6">
								<div class="banner-image animated out" data-animation="fadeInUp" data-delay="0">
									<img src="/images/temp/banner-img.png" alt="">
								</div>
								<!-- end banner-image -->
							</div>
							<!-- end col-sm-6 -->

						</div>
						<!-- end row -->
					</div>
					<!-- end container -->
				</div>
			</section>
			<!-- End Banner services section -->

			<br>
			<br>
			<br>
			<br>
			<br>
			<br>

			
			<!-- Offer
																					    ================================================== -->
			<section>
				<div id="landing-offer" class="pad-sec">
					<div class="container">

						<div class="title-section big-title-sec animated out" data-animation="fadeInUp" data-delay="0">
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<h2 class="big-title">Some information about us</h2>
									<h1 class="big-subtitle">We’re small branding &amp; digital studio</h1>
									<hr>
									<p class="about-text">Cras porta dolor ut velit imperdiet, quis sodales tellus facilisis. Vestibulum magna turpis, tincidun blandit semper lorem. Mauris nodesterin feugiat neque, a aliquet ligula. Sed non felis tincidunt, facilisis felis vitae, mollis est. Nulla sapien dui, feugiat sed velit a, egestas porta magna.</p>
								</div>
							</div>
							<!-- End row -->
						</div>
						<!-- end title-section -->

						<div class="offer-boxes">

							<div class="row">
								<div class="col-sm-4">
									<div class="offer-post text-center animated out" data-animation="fadeInLeft" data-delay="0">
										<div class="offer-icon">
											<span class="icon-desktop"></span>
										</div>
										<h4>DESIGNS &amp; INTERFACES</h4>
										<p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id sem placerat tempus.</p>
									</div>
									<!-- End offer-post -->
								</div>
								<!-- End col-sm-4 -->

								<div class="col-sm-4">
									<div class="offer-post text-center animated out" data-animation="fadeInUp" data-delay="0">
										<div class="offer-icon">
											<span class="icon-piechart"></span>
										</div>
										<h4>Branding</h4>
										<p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id sem placerat tempus.</p>
									</div>
									<!-- End offer-post -->
								</div>
								<!-- End col-sm-4 -->

								<div class="col-sm-4">
									<div class="offer-post text-center animated out" data-animation="fadeInRight" data-delay="0">
										<div class="offer-icon">
											<span class="icon-lifesaver"></span>
										</div>
										<h4>Dedicated support</h4>
										<p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna. Quisque id libero risus. Aliquam accumsan erat id sem placerat tempus.</p>
									</div>
									<!-- End offer-post -->
								</div>
								<!-- End col-sm-4 -->

							</div>
							<!-- End row -->

						</div>
						<!-- End offer-boxes -->
					</div>
					<!-- End container -->
				</div>
				<!-- End landing-offer-section -->
			</section>
			<!-- End offer section -->

			<section>
				<div class="sep-section"></div>
			</section>

			<!-- Features services
																					    ================================================== -->
			<section>
				<div id="features-section" class="pad-sec">
					<div class="container">
						<div class="title-section text-center animated out" data-animation="fadeInUp" data-delay="0">
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<h2>What we do?</h2>
									<hr>
									<p>Seamlessly restore client-focused potentialities rather than functional strategic theme areas.</p>
								</div>
								<!-- edn col-sm-8 -->
							</div>
							<!-- End row -->
						</div>
						<!-- end title-section -->
						<div class="row">
							<div class="col-md-3 without-padding">
								<div class="left-features-services">
									<ul
										class="features-list">
										<!-- feature -->
										<li>
											<div class="left-features-box animated out" data-animation="fadeInLeft" data-delay="0">
												<span class="iconbox">
													<i class="icon-mobile"></i>
												</span>
												<div class="features-box-content">
													<h6>Mobile App</h6>
													<p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna.</p>
												</div>
												<!-- end features-box-content -->
											</div>
											<!-- end left-features-box -->
										</li>
										<!-- feature -->
										<li>
											<div class="left-features-box animated out" data-animation="fadeInLeft" data-delay="0">
												<span class="iconbox">
													<i class="icon-browser"></i>
												</span>
												<div class="features-box-content">
													<h6>Web design</h6>
													<p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna.</p>
												</div>
												<!-- end features-box-content -->
											</div>
											<!-- end left-features-box -->
										</li>
										<!-- feature -->
										<li>
											<div class="left-features-box animated out" data-animation="fadeInLeft" data-delay="0">
												<span class="iconbox">
													<i class="icon-strategy"></i>
												</span>
												<div class="features-box-content">
													<h6>Branding</h6>
													<p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna.</p>
												</div>
												<!-- end features-box-content -->
											</div>
											<!-- end left-features-box -->
										</li>
										<!-- feature -->
										<li>
											<div class="left-features-box animated out" data-animation="fadeInLeft" data-delay="0">
												<span class="iconbox">
													<i class="icon-hotairballoon "></i>
												</span>
												<div class="features-box-content">
													<h6>Logo design</h6>
													<p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna.</p>
												</div>
												<!-- end features-box-content -->
											</div>
											<!-- end left-features-box -->
										</li>
										<!-- feature -->
										<li>
											<div class="left-features-box animated out" data-animation="fadeInLeft" data-delay="0">
												<span class="iconbox">
													<i class="icon-lightbulb"></i>
												</span>
												<div class="features-box-content">
													<h6>Illustrations</h6>
													<p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna.</p>
												</div>
												<!-- end features-box-content -->
											</div>
											<!-- end left-features-box -->
										</li>
									</ul>
									<!-- end features-list -->
								</div>
								<!-- end left-features-service -->
							</div>
							<!--  end col-md-3 -->

							<div class="col-md-6">
								<div class="features-image animated out" data-animation="fadeInUp" data-delay="0">
									<img src="images/temp/woman.jpg" alt="">
								</div>
								<!-- end features-image -->
							</div>
							<!-- end col-md-6 -->

							<div class="col-md-3 without-padding">
								<div class="right-features-services">
									<ul
										class="features-list">
										<!-- feature -->
										<li>
											<div class="right-features-box animated out" data-animation="fadeInRight" data-delay="0">
												<span class="iconbox">
													<i class="icon-tools-2"></i>
												</span>
												<div class="features-box-content">
													<h6>Easy Customization</h6>
													<p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna.</p>
												</div>
											</div>
										</li>
										<!-- feature -->
										<li>
											<div class="right-features-box animated out" data-animation="fadeInRight" data-delay="0">
												<span class="iconbox">
													<i class="icon-video"></i>
												</span>
												<div class="features-box-content">
													<h6>Video</h6>
													<p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna</p>
												</div>
											</div>
										</li>
										<!-- feature -->
										<li>
											<div class="right-features-box animated out" data-animation="fadeInRight" data-delay="0">
												<span class="iconbox">
													<i class="icon-camera"></i>
												</span>
												<div class="features-box-content">
													<h6>Photography</h6>
													<p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna.</p>
												</div>
											</div>
										</li>
										<!-- feature -->
										<li>
											<div class="right-features-box animated out" data-animation="fadeInRight" data-delay="0">
												<span class="iconbox">
													<i class="icon-presentation"></i>
												</span>
												<div class="features-box-content">
													<h6>Marketing</h6>
													<p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna.</p>
												</div>
											</div>
										</li>
										<!-- feature -->
										<li>
											<div class="right-features-box animated out" data-animation="fadeInRight" data-delay="0">
												<span class="iconbox">
													<i class="fa fa-life-ring"></i>
												</span>
												<div class="features-box-content">
													<h6>Support</h6>
													<p>Mauris eros tortor, tristique cursus porttitor et, luctus sed urna.</p>
												</div>
											</div>
										</li>
									</ul>
									<!-- end features-list -->
								</div>
							</div>
							<!-- end col-md-3 -->

						</div>
						<!-- end row -->
					</div>
					<!-- end container -->
				</div>
			</section>
			<!-- End features-section -->

			<!-- Video section
																					    ================================================== -->
			<section>
				<div id="video-section" data-stellar-background-ratio="0">
					<div class="container">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<div class="video-section-content text-center">
									<a href="http://vimeo.com/channels/staffpicks/116829150" class="video-pop-up">
										<i class="fa fa-play"></i>
									</a>
									<div class="video-head">Introducing Video</div>
									<div class="video-sub-heading">Check out our video presentation</div>
								</div>
							</div>
							<!-- end col-sm-6 -->
						</div>
						<!-- end row -->
					</div>
					<!-- end container -->
				</div>
			</section>
			<!-- End Video section -->

			<!-- Team
																					    ================================================== -->
			<section>
				<div id="team-section-EVENTO" class="pad-sec">
					<div class="container">
						<div class="title-section animated out" data-animation="fadeInUp" data-delay="0">
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<h2>Our awesome team</h2>
									<hr>
									<p>Seamlessly restore client-focused potentialities rather than functional strategic theme areas. Credibly e-enable value-added portals with clicks-and-mortar initiatives.</p>
								</div>
							</div>
							<!-- End row -->
						</div>
						<!-- end title-section -->

						<div class="team-members">
							<div
								class="row">

								<!-- member-team -->
								<div class="col-sm-4">
									<div class="member-team animated out" data-animation="fadeInLeft" data-delay="0">
										<img src="images/team/m1.jpg" alt="">
										<div class="magnifier">
											<div class="magnifier-inner">
												<h3>MICHAEL ROOF</h3>
												<p>Co_founder &amp; Designer</p>
												<p>We’ll etch your brand onto tangible objects: business cards, ads, stickers, brochures, you name it. You won’t see business cards, ads, stickers, brochures anything until we’re done drooling at the result.</p>
												<ul class="social-icons">

													<li>
														<a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Facebook" href="#" data-original-title="" title="">
															<i class="fa fa-facebook"></i>
														</a>
													</li>

													<li>
														<a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Twitter" href="#" data-original-title="" title="">
															<i class="fa fa-twitter"></i>
														</a>
													</li>

													<li>
														<a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Google Plus" href="#" data-original-title="" title="">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>

													<li>
														<a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Skype" href="#" data-original-title="" title="">
															<i class="fa fa-skype"></i>
														</a>
													</li>

												</ul>
											</div>
											<!-- End magnifier-inner -->
										</div>
										<!-- End magnifier -->
									</div>
									<!-- End member-team -->
								</div>
								<!-- End col-sm-4 -->

								<!-- member-team -->
								<div class="col-sm-4">
									<div class="member-team animated out" data-animation="fadeInUp" data-delay="0">
										<img src="/images/team/m2.jpg" alt="">
										<div class="magnifier">
											<div class="magnifier-inner">
												<h3>CHARLES WHITE</h3>
												<p>Co_founder &amp; Designer</p>
												<p>We’ll etch your brand onto tangible objects: business cards, ads, stickers, brochures, you name it. You won’t see business cards, ads, stickers, brochures anything until we’re done drooling at the result.</p>
												<ul class="social-icons">

													<li>
														<a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Facebook" href="#" data-original-title="" title="">
															<i class="fa fa-facebook"></i>
														</a>
													</li>

													<li>
														<a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Twitter" href="#" data-original-title="" title="">
															<i class="fa fa-twitter"></i>
														</a>
													</li>

													<li>
														<a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Google Plus" href="#" data-original-title="" title="">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>

													<li>
														<a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Skype" href="#" data-original-title="" title="">
															<i class="fa fa-skype"></i>
														</a>
													</li>

												</ul>
											</div>
											<!-- End magnifier-inner -->
										</div>
										<!-- End magnifier -->
									</div>
									<!-- End member-team -->
								</div>
								<!-- End col-sm-4 -->

								<!-- member-team -->
								<div class="col-sm-4">
									<div class="member-team animated out" data-animation="fadeInRight" data-delay="0">
										<img src="/images/team/m3.jpg" alt="">
										<div class="magnifier">
											<div class="magnifier-inner">
												<h3>MARTIN CAMBRIGE</h3>
												<p>Head Support</p>
												<p>We’ll etch your brand onto tangible objects: business cards, ads, stickers, brochures, you name it. You won’t see business cards, ads, stickers, brochures anything until we’re done drooling at the result.</p>
												<ul class="social-icons">

													<li>
														<a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Facebook" href="#" data-original-title="" title="">
															<i class="fa fa-facebook"></i>
														</a>
													</li>

													<li>
														<a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Twitter" href="#" data-original-title="" title="">
															<i class="fa fa-twitter"></i>
														</a>
													</li>

													<li>
														<a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Google Plus" href="#" data-original-title="" title="">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>

													<li>
														<a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-title="Skype" href="#" data-original-title="" title="">
															<i class="fa fa-skype"></i>
														</a>
													</li>

												</ul>
											</div>
											<!-- End magnifier-inner -->
										</div>
										<!-- End magnifier -->
									</div>
									<!-- End member-team -->
								</div>
								<!-- End col-sm-4 -->

							</div>
						</div>
						<!-- End team-members -->
					</div>
					<!-- End container -->
				</div>
				<!-- End team-section-EVENTO -->
			</section>
			<!-- End team section -->

			<!-- About Team
																					    ================================================== -->
			<section>
				<div id="about-team">
					<div class="container">
						<div class="row">

							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="title-section">
									<h3>Our team skills</h3>
								</div>
								<p>Sit ad etiam dissentias, viderer intellegebat usu et, per aliquam delectus ut. In inermis suavitate tincidunt quo, habeo lorem quis nulla eget, dictum pretium magna. Praesent id metus mattis tellus consectetur posuere. Aenean vel enim ut massa luctus efficitur a nec magna.</p>
							</div>
							<!-- end col-md-6 -->

							<div class="col-md-6 col-sm-6 col-xs-12">
								<div
									class="progress-bars">

									<!-- skillbar -->
									<div
										class="p-bar">
										<!-- meta -->
										<div class="progress-meta">
											<h6 class="progress-title">photoshop</h6>
											<h6 class="progress-value">75%</h6>
										</div>

										<div class="progress">
											<div class="progress-bar" aria-valuenow="75" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
										</div>

									</div>
									<!-- end p-bar -->

									<!-- skillbar -->
									<div
										class="p-bar">
										<!-- meta -->
										<div class="progress-meta">
											<h6 class="progress-title">html</h6>
											<h6 class="progress-value">95%</h6>
										</div>

										<div class="progress">
											<div class="progress-bar" aria-valuenow="95" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
										</div>

									</div>
									<!-- end p-bar -->

									<!-- skillbar -->
									<div
										class="p-bar">
										<!-- meta -->
										<div class="progress-meta">
											<h6 class="progress-title">css</h6>
											<h6 class="progress-value">85%</h6>
										</div>

										<div class="progress">
											<div class="progress-bar" aria-valuenow="85" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
										</div>

									</div>
									<!-- end p-bar -->

									<!-- skillbar -->
									<div
										class="p-bar">
										<!-- meta -->
										<div class="progress-meta">
											<h6 class="progress-title">jquery</h6>
											<h6 class="progress-value">73%</h6>
										</div>

										<div class="progress">
											<div class="progress-bar" aria-valuenow="73" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
										</div>

									</div>
									<!-- end p-bar -->

								</div>
								<!-- end skills-bars -->
							</div>
							<!-- end col-md-6 -->
						</div>
						<!-- end row -->
					</div>
				</div>
			</section>
			<!-- End About Team -->

			<!-- Banner-Services
																					    ================================================== -->
			<section>
				<div id="banner-services" data-stellar-background-ratio="0">
					<div class="container">
						<div class="row">

							<div class="col-sm-6">
								<div class="banner-content animated out" data-animation="fadeInUp" data-delay="0">
									<h3 class="banner-heading">Looking for exclusive digital services?</h3>
									<div class="banner-decription">
										Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Integer non dapibus diam, ac eleifend lectus.
									</div>
									<!-- end banner-decription -->
									<div>
										<a href="contact.html" class="btn btn-sm btn-clean">Lets talk</a>
									</div>
								</div>
								<!-- end banner-content -->
							</div>
							<!-- end col-sm-6 -->

							<div class="col-sm-6">
								<div class="banner-image animated out" data-animation="fadeInUp" data-delay="0">
									<img src="/images/temp/banner-img.png" alt="">
								</div>
								<!-- end banner-image -->
							</div>
							<!-- end col-sm-6 -->

						</div>
						<!-- end row -->
					</div>
					<!-- end container -->
				</div>
			</section>
			<!-- End Banner services section -->

			<!-- Features App 2
																					    ================================================== -->
			<section>
				<div id="features-app-section-2" class="pad-sec">
					<div class="container">
						<div class="row">
							<div class="col-sm-6 features-app-content-left animated out" data-animation="fadeInLeft" data-delay="0">
								<div class="section_header">
									<h2>Simple. Intuitive.
										<span>Powerful.</span>
									</h2>
								</div>
								<!-- End section_header -->
								<p>
									Lorem ipsum
									<span>dolor</span>
									sit amet, consectetur adipisicing elit.Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

								<ul
									class="features-app-list">

									<!-- feature -->
									<li>
										<div class="feature-app-box animated out" data-animation="fadeInLeft" data-delay="0">
											<div class="app-feature-icon pull-left">
												<span class="pe-7s-graph"></span>
											</div>
											<div class="feature-app-box-content">
												<h6>Beautiful, modern design</h6>
												<p>Mauris vehicula tortor id augue rutrum consequat ac at massa. Interdum et malesuada fames ac ante ipsum primis.</p>
											</div>
										</div>
									</li>

									<!-- feature -->
									<li>
										<div class="feature-app-box animated out" data-animation="fadeInLeft" data-delay="0">
											<div class="app-feature-icon pull-left">
												<span class="pe-7s-config"></span>
											</div>
											<div class="feature-app-box-content">
												<h6>Easy to set up</h6>
												<p>Phasellus consequat facilisis volutpat ma faucibus odio vitae semper. Ae volutpat lobortis.</p>
											</div>
										</div>
									</li>

									<!-- feature -->
									<li>
										<div class="feature-app-box animated out" data-animation="fadeInLeft" data-delay="0">
											<div class="app-feature-icon pull-left">
												<span class="pe-7s-refresh-2"></span>
											</div>
											<div class="feature-app-box-content">
												<h6>Stunning flexibility</h6>
												<p>Phasellus consequat facilisis volutpat ma faucibus odio vitae semper. Ae volutpat lobortis.</p>
											</div>
										</div>
									</li>

									<!-- feature -->
									<li>
										<div class="feature-app-box animated out" data-animation="fadeInLeft" data-delay="0">
											<div class="app-feature-icon pull-left">
												<span class="pe-7s-lock"></span>
											</div>
											<div class="feature-app-box-content">
												<h6>Reliable and Secure Platform</h6>
												<p>Phasellus consequat facilisis volutpat ma faucibus odio vitae semper. Ae volutpat lobortis.</p>
											</div>
										</div>
									</li>

								</ul>
							</div>
							<!-- End feature-content -->

							<div class="col-sm-5 col-sm-offset-1 text-center img-app-right animated out" data-animation="fadeInRight" data-delay="0">
								<figure>
									<img src="images/app/phone-2.png" alt="">
								</figure>
							</div>
							<!-- End col-sm-8 -->

						</div>
						<!-- End row -->
					</div>
					<!-- End container -->
				</div>
				<!-- End feature-section -->
			</section>
			<!-- End Features App 2 section -->

			<section>
				<div class="sep-section"></div>
			</section>

			<!-- Creative section-1
																					    ================================================== -->
			<section>
				<div id="creative-section-1" class="pad-sec">
					<div class="container">
						<div class="row">

							<div class="col-sm-7 img-creative-left text-center animated out" data-animation="fadeInLeft" data-delay="0">
								<figure>
									<img src="images/temp/cover.png" alt="">
								</figure>
							</div>
							<!-- End col-sm-8 -->

							<div class="col-sm-5 creative-content-right animated out" data-animation="fadeInRight" data-delay="0">
								<div class="section_header">
									<h2>Creative project</h2>
								</div>
								<!-- End section_header -->

								<p>
									Lorem ipsum
									<span>dolor</span>
									sit amet, consectetur adipisicing elit.Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

								<div class="view-more">
									<a href="#services-section" class="btn btn-lg btn-primary">View online</a>
								</div>
							</div>
							<!-- End feature-content -->

						</div>
						<!-- End row -->
					</div>
					<!-- End container -->
				</div>
				<!-- End feature-section -->
			</section>
			<!-- End Creative section-1 -->

			<section>
				<div class="sep-section"></div>
			</section>


			<!-- Clients-section
																					    ================================================== -->
			<section>
				<div id="clients-section" class="clients-bg" data-stellar-background-ratio="0">
					<div class="container">
						<div
							class="row">

							<!-- client -->
							<div class="col-xs-4 col-sm-2">
								<div class="client">
									<a href="#"><img src="images/clients/client_1.png" alt=""></a>
								</div>
							</div>
							<!-- end col-xs-6 -->

							<!-- client -->
							<div class="col-xs-4 col-sm-2">
								<div class="client">
									<a href="#"><img src="images/clients/client_2.png" alt=""></a>
								</div>
							</div>
							<!-- end col-xs-6 -->

							<!-- client -->
							<div class="col-xs-4 col-sm-2">
								<div class="client">
									<a href="#"><img src="images/clients/client_3.png" alt=""></a>
								</div>
							</div>
							<!-- end col-xs-6 -->

							<!-- client -->
							<div class="col-xs-4 col-sm-2">
								<div class="client">
									<a href="#"><img src="images/clients/client_4.png" alt=""></a>
								</div>
							</div>
							<!-- end col-xs-6 -->

							<!-- client -->
							<div class="col-xs-4 col-sm-2">
								<div class="client">
									<a href="#"><img src="images/clients/client_1.png" alt=""></a>
								</div>
							</div>
							<!-- end col-xs-6 -->

							<!-- client -->
							<div class="col-xs-4 col-sm-2">
								<div class="client">
									<a href="#"><img src="images/clients/client_2.png" alt=""></a>
								</div>
							</div>
							<!-- end col-xs-6 -->

						</div>
						<!-- End row -->
					</div>
					<!-- End container -->
				</div>
			</section>
			<!-- End clients-section -->

			<!-- Prices
																					    ================================================== -->
			<section>
				<div id="prices-section" class="pad-sec">
					<div class="container">
						<div class="title-section text-center animated out" data-animation="fadeInUp" data-delay="0">
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<h2>Our Prices</h2>
									<hr>
									<p>Seamlessly restore client-focused potentialities rather than functional strategic theme areas.</p>
								</div>
							</div>
							<!-- End row -->
						</div>
						<!-- end title-section -->

						<div class="row">
							<div class="col-sm-4">
								<ul class="price-table animated out" data-animation="fadeInLeft" data-delay="0">
									<li class="title-price">
										<h3>Basic Pack</h3>
									</li>
									<li class="price-box">
										<p class="price">
											<span class="currency">$</span>5.99</p>
										<p class="months">per month</p>
									</li>
									<li>
										<p>Full Access</p>
									</li>
									<li>
										<p>5 Projects</p>
									</li>
									<li>
										<p>5 GB Storage</p>
									</li>
									<li>
										<p>100GB Monthly Bandwidth</p>
									</li>
									<li>
										<p>Premium Support</p>
									</li>
									<li>
										<p>Your domain</p>
									</li>
									<li>
										<a href="#" class="btn btn-sm btn-dark">Purchase</a>
									</li>
								</ul>
							</div>
							<!-- end col-sm-4 -->

							<div class="col-sm-4">
								<ul class="price-table animated out" data-animation="fadeInUp" data-delay="0">
									<li class="title-price">
										<h3>Basic Pack</h3>
									</li>
									<li class="price-box">
										<p class="price">
											<span class="currency">$</span>5.99</p>
										<p class="months">per month</p>
									</li>
									<li>
										<p>Full Access</p>
									</li>
									<li>
										<p>5 Projects</p>
									</li>
									<li>
										<p>5 GB Storage</p>
									</li>
									<li>
										<p>100GB Monthly Bandwidth</p>
									</li>
									<li>
										<p>Premium Support</p>
									</li>
									<li>
										<p>Your domain</p>
									</li>
									<li>
										<a href="#" class="btn btn-sm btn-dark">Purchase</a>
									</li>
								</ul>
							</div>
							<!-- end col-sm-4 -->

							<div class="col-sm-4">
								<ul class="price-table animated out" data-animation="fadeInRight" data-delay="0">
									<li class="title-price">
										<h3>Basic Pack</h3>
									</li>
									<li class="price-box">
										<p class="price">
											<span class="currency">$</span>5.99</p>
										<p class="months">per month</p>
									</li>
									<li>
										<p>Full Access</p>
									</li>
									<li>
										<p>5 Projects</p>
									</li>
									<li>
										<p>5 GB Storage</p>
									</li>
									<li>
										<p>100GB Monthly Bandwidth</p>
									</li>
									<li>
										<p>Premium Support</p>
									</li>
									<li>
										<p>Your domain</p>
									</li>
									<li>
										<a href="#" class="btn btn-sm btn-dark">Purchase</a>
									</li>
								</ul>
							</div>
							<!-- end col-sm-4 -->
						</div>
						<!-- end row -->
					</div>
					<!-- end container -->
				</div>
			</section>
			<!-- End prices section -->

			<!-- Subscribe-section
																					    ================================================== -->
			<section>
				<div id="subscribe-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
								<div class="newsletter-title text-center">
									<h4>Stay informed with our newsletter</h4>
								</div>
								<!-- end newsletter-title -->
								<form
									class="form-inline subscription-form mailchimp" id="subscribeform">
									<!-- Subscription messages -->
									<h5 class="subscription-success"></h5>
									<h5 class="subscription-error"></h5>
									<!-- Email input -->
									<div class="form-group newsletter-field">
										<input type="email" name="EMAIL" class="form-control" id="subscriber-email" placeholder="jane.doe@example.com">
									</div>
									<!-- Subscribe button -->
									<button type="submit" id="subscribe-button" class="btn btn-sm btn-dark">Subscribe</button>
								</form>
							</div>
							<!-- end col-sm-6 -->
						</div>
						<!-- end row -->
					</div>
					<!-- end container -->
				</div>
				<!-- end subscribe-section -->
			</section>
			<!-- End subscribe section -->

			<section>
				<div class="sep-section"></div>
			</section>

			<!-- Testimonial
																					      ================================================== -->
			<section>
				<div id="testimonials-section">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

								<div class="testimonials-carousel">

									<ul
										class="testimonials-slider">

										<!-- Testimonial -->
										<li>
											<img src="images/temp/client-photo.jpg" alt="">
											<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusultricies porta posuere.</p>
											<div class="testimonials-author">
												ClasDesign - Front End Developer
											</div>
										</li>

										<!-- Testimonial -->
										<li>
											<img src="images/temp/client-photo.jpg" alt="">
											<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusultricies porta posuere
												<a href="#">http://goo.gl/1OhxkS</a>.</p>
											<div class="testimonials-author">John Doe -  Web Developer</div>
										</li>

										<!-- Testimonial -->
										<li>
											<img src="images/temp/client-photo.jpg" alt="">
											<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusultricies porta posuere.
												<a href="#">http://goo.gl/1OhxkS</a>.</p>
											<div class="testimonials-author">John Doe - Web Designer</div>
										</li>

									</ul>

									<div class="tc-arrows">
										<div class="tc-arrow-left"></div>
										<div class="tc-arrow-right"></div>
									</div>
									<!-- end tc-arrows -->
								</div>
								<!-- end testimonials-carousel -->

							</div>
							<!-- end col-md-8 -->
						</div>
						<!-- end row -->
					</div>
					<!-- end container -->
				</div>
			</section>
			<!-- end testimonial section -->

			<section>
				<div class="sep-section"></div>
			</section>

			<!-- Google map
																					    ================================================== -->
			<section>
				<div id="module-maps">
					<div id="map"></div>
				</div>
			</section>
			<!-- End Google map -->

			<!-- contact-section-INICIAR-SESION
																					    ================================================== -->
			<section>
				<div id="contact-section-INICIAR-SESION" class="pad-sec">

					<div class="container">

						<div class="title-section text-center animated out" data-animation="fadeInUp" data-delay="0">
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<h2>Get in touch</h2>
									<hr>
									<p>Sed ac mattis justo. Vestibulum facilisis at arcu ac porta. Vivamus at ipsum at quam hendrerit gravida.</p>
								</div>
							</div>
							<!-- End row -->
						</div>
						<!-- end title-section -->

						<div class="form-wrapper">
							<div class="row">
								<div
									class="col-md-8 col-md-offset-2">

									<!-- form fields -->
									<form action="php/contact.php.htm" method="post" name="contactform" id="contactform" class="animated out" data-animation="fadeInUp" data-delay="0">

										<fieldset>
											<div class="form-group">
												<input class="form-control br-b" type="text" name="name" id="name" placeholder="Name">
											</div>

											<div class="form-group">
												<input class="form-control br-b" type="email" name="email" id="email" placeholder="Email">
											</div>

											<div class="form-group">
												<textarea class="form-control br-b" name="message" id="message" placeholder="Message..."></textarea>
											</div>
										</fieldset>

										<!-- submit button -->
										<div class="form-group">
											<input type="submit" name="submit" value="Send message" id="submit" class="btn btn-sm btn-dark">
										</div>

										<div id="alert"></div>

									</form>

								</div>
								<!-- end col-md-8 -->
							</div>
							<!-- end row -->
						</div>
						<!-- end form-wrapper -->

					</div>
					<!-- end container -->

				</div>
				<!-- End contact-section-INICIAR-SESION -->
			</section>

		</body>
	{% endblock %}
